
# Python 관련
__pycache__/
*.py[cod]
.venv/
venv/
*.pyc
*.pyo
*.pyd

# Database 데이터 (가장 중요!)
back/mysql_data/

# OS/IDE 관련
.DS_Store
.vscode/
Thumbs.db

# 환경 변수 (비밀번호 포함 가능성)
.env

# test cache
.pytest_cache/

# mypy cache
.mypy_cache/

# logs
*.log